
/PCB/2 Layer nvme Carrier/nvme Carrier for LattePanda Mu-backups
/PCB/2 Layer nvme Carrier/nvme Carrier for LattePanda Mu.kicad_pcb.zip
/PCB/4 Layer nvme Carrier/nvme Carrier for LattePanda Mu-backups
/PCB/4 Layer nvme Carrier/nvme Carrier for LattePanda Mu.kicad_pcb.zip
/PCB/4 Layer nvme Carrier/production
/PCB/4 Layer nvme Carrier/nvme Carrier for LattePanda Mu-backups
/PCB/4 Layer nvme Carrier/fabrication-toolkit-options.json
/PCB/4 Layer nvme Carrier/User.bak
/PCB/4 Layer nvme Carrier/fp-info-cache
/PCB/4 Layer nvme Carrier/nvme Carrier for LattePanda Mu.round-tracks-config
/PCB/4 Layer nvme Carrier/nvme Carrier for LattePanda Mu.kicad_pcb.zip
*.lck
/PCB/4 Layer nvme Carrier all M2/nvme Carrier for LattePanda Mu-backups
/PCB/4 Layer nvme Carrier all M2/nvme Carrier all M2-backups
PCB/4 Layer nvme Carrier all M2/fp-info-cache
